In [1]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
dataframe = pd.read_csv("/content/Mumbai.csv")
df=dataframe.drop("Location",axis='columns')
dataset = df.values
X = dataset[:, 0:13]
Y = dataset[:, 13]

In [3]:
df.head()

,Price,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,4850000,720,1,1,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,4500000,600,1,1,1,1,1,0,1,1,...,1,0,1,0,0,0,0,0,0,0
2,6700000,650,1,1,1,1,1,0,1,1,...,1,0,1,0,0,0,0,0,0,0
3,4500000,650,1,1,1,0,0,1,0,1,...,1,1,1,0,0,0,0,0,1,0
4,5000000,665,1,1,1,0,0,1,0,1,...,1,0,1,0,0,0,0,0,0,0

In [4]:
def baseline_model():
  model = Sequential()
  model.add(Dense(13, input_dim=13, kernel_initializer='normal', activation='relu'))
  model.add(Dense(1, kernel_initializer='normal'))
  model.compile(loss='mean_squared_error',
                optimizer='adam')
  return model

In [5]:
estimator = KerasRegressor(build_fn=baseline_model,
                            epochs=5, batch_size=5, verbose=0)
kfold = KFold(n_splits=10)
results = cross_val_score(estimator, X,Y, cv=kfold)
print('\n')

print("Baseline: %.2f (%.2f) MSE" % (results.mean(), results.std()))

<ipython-input-5-6b0a878bd117>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  estimator = KerasRegressor(build_fn=baseline_model,

Baseline: -86.72 (115.51) MSE